.main-section {
    background: var(--color-evenlighter-grey);
    margin-left: 23em;
}
.main-top-section {
    display: flex;
    justify-content: space-between;
    padding: 1.25em;
    border-bottom: 1px solid var(--color-light-black);
}

.friend-options {
    display: flex;
    gap: 1em;
    color: var(--color-grey-white);
    align-items: center;
}

.add-friend-tab {
    color: var(--color-green);
}

.friends-text {
    font-weight: bold;
    color: var(--color-full-white);
    font-size: 1.25em;
}

.friends-divider {
    color: var(--color-lighter-dark);
}

.friend-option {
    padding: 0.1em 0.5em;
    border-radius: 5px;
}
.friend-option:hover {
    background-color: var(--color-lighter-dark);
    color: var(--color-full-white);
    cursor: pointer;
}

.friends-right-options {
    display: flex;
    align-items: center;
    gap: 1em;
}

.friend-right-option {
    color: var(--color-grey-white);
}

.friend-right-option:hover {
    color: var(--color-full-white);
    cursor: pointer;
}

.friend-option.selected {
    background-color: var(--color-lighter-dark);
    color: var(--color-full-white);
}

.friend-section {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    height: 92.9vh;
}

.friend-list {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    color: var(--color-grey-white);
}

.active-now-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-left: 1px solid var(--color-lighter-dark);
    padding: 1em;
}

.for-now {
    font-weight: bold;
    font-size: 1.3em;
}

.quiet-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quiet-desc {
    color: var(--color-grey-white);
}

.channel-top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    padding: 0.8em;
    border-bottom: 1px solid var(--color-light-black);
}

.channel-left-top {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.channel-name {
    font-weight: bold;
    font-size: 1.25em;
}

.channel-topic {
    color: var(--color-grey-white);
}

.channel-right-buttons {
    display: flex;
    gap: 1em;
}

.search-input {
    background: var(--color-grey-dark);
    border: none;
    border-radius: 3px;
    color: var(--color-grey-white);
    outline: none;
    padding: 0.3em 0.6em;
    width: 9em;
}

.search-input::placeholder {
    color: var(--color-grey-white);
}

.main-channel {
    display: grid;
    grid-template-columns: 6fr 1fr;
    height: 92vh;
}

.member-list {
    background-color: var(--color-slightly-grey);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.member {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.member-list-text {
    color: var(--color-grey-white);
}

.member-name {
    font-size: 0.8em;
}

.chat-box {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-between;
    height: 88vh;
    gap: 2em;
}

.message-input-box {
    display: flex;
    align-items: center;
    background-color: var(--color-chat-input);
    user-select: all;
    padding: 0.5em;
    border-radius: 0.8em;
    gap: 1em;
    font-size: 1.2em;
}

.message-input {
    background: none;
    border: none;
    outline: none;
    overflow: hidden;
    color: var(--color-full-white);
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.message {
    padding-left: 2em;
}
.message .avatar-wrapper {
    display: flex;
    gap: 1em;
    width: 48px;
}

.message-name {
    align-self: flex-start;
}

.right-message {
    display: flex;
    flex-direction: column;
    user-select: all;
    width: 100%;
}

.message-text {
    width: max-content;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
    height: 100%;
}

.messages::-webkit-scrollbar {
    display: none;
}
