.register,
.login {
    height: 100vh;
    background-size: cover;
    background-image: url('https://i.ibb.co/hBdtF8z/untitled-2.png');
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.register-box,
.login-box {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    padding: 2em;
    border-radius: 0.35em;
}

.register-box__title,
.login-box__title {
    font-family: 'Ginto';
    font-weight: 500;
    font-size: 1.25em;
    color: white;
    text-align: center;
}

.register-form,
.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    gap: 0.5em;
}

.register_label {
    color: #babbc0;
    font-weight: 600;
    font-size: 0.8em;
}

.register_input,
.login_input {
    width: 25em;
    background-color: var(--darkgrey);
    border: none;
    padding: 0.5em;
    border-radius: 0.25em;
    color: white;
    outline: none;
    font-size: 1em;
}

.register_continue,
.login_continue {
    background-color: var(--blurple);
    border: none;
    color: white;
    font-family: Ginto;
    font-weight: 400;
    font-size: 1em;
    padding: 0.75em;
    border-radius: 0.25em;
    margin-top: 0.5em;
}

.register_continue:hover,
.login_continue:hover {
    background-color: #4752c4;
    transition: background-color 100ms;
    cursor: pointer;
}

.register__login-redirect {
    margin-top: 1em;
}

.register__link:hover,
.login__link:hover {
    text-decoration: underline;
}

.register__tos {
    margin-top: 1em;
    font-size: 0.75em;
    color: var(--lightgrey);
}

.register__link,
.login__link {
    text-decoration: none;
    color: var(--lightblue);
    font-weight: 600;
    font-size: 0.9em;
}
